/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  margin-top: 0;
}

/* Header Styles */
header {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Navigation Styles */
nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: #fd7e14;
}



/* Main Content Styles */
main {
  padding: 20px;
}

/* Index Page */
ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-content {
  flex-grow: 1;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 12px;
  color: #777;
}

/* Form Styles */
form {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-gap: 10px;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fd7e14;
}

/* Post Styles */
p {
  margin-bottom: 10px;
}

/* Edit Styles */
button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Responsive Styles */

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  body {
    font-size: 14px;
  }
  
  /* Example: Adjust the layout or styles of specific elements */
  form {
    margin-bottom: 10px;
  }
}
