{% set title = "Edit Post" %}
{% extends 'base.html' %}

{% block content %}
    <!-- [html-validate-disable attribute-allowed-values] -->
    <form action="{{ url_for('edit', post_id=post.id) }}" method="POST">
        <input type="text" name="title" value="{{ post.title }}" required>
        <textarea name="content" required>{{ post.content }}</textarea>
        <button type="submit">Save</button>
    </form>

    <!-- Add Delete Post Form -->
    <form action="{{ url_for('delete', post_id=post.id) }}" method="POST">
        <button type="submit">Delete Post</button>
    </form>
{% endblock %}
